@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url("https://assets.10centuries.org/fonts/ubuntu-l-webfont.woff2") format("woff2"),
         url("https://assets.10centuries.org/fonts/ubuntu-l-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url("https://assets.10centuries.org/fonts/ubuntu-r-webfont.woff2") format("woff2"),
         url("https://assets.10centuries.org/fonts/ubuntu-r-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url("https://assets.10centuries.org/fonts/ubuntu-b-webfont.woff2") format("woff2"),
         url("https://assets.10centuries.org/fonts/ubuntu-b-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: url("https://assets.10centuries.org/fonts/ubuntu-li-webfont.woff2") format("woff2"),
         url("https://assets.10centuries.org/fonts/ubuntu-li-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url("https://assets.10centuries.org/fonts/ubuntu-ri-webfont.woff2") format("woff2"),
         url("https://assets.10centuries.org/fonts/ubuntu-ri-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url("https://assets.10centuries.org/fonts/ubuntu-bi-webfont.woff2") format("woff2"),
         url("https://assets.10centuries.org/fonts/ubuntu-bi-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url("https://assets.10centuries.org/fonts/ubuntumono-r-webfont.woff2") format("woff2"),
         url("https://assets.10centuries.org/fonts/ubuntumono-r-webfont.woff") format("woff")
}

.container {
    background: #fff;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.clearfix:after,
.container:after {
    clear: both;
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clear { clear: both; }
.clearfix { display: block; }

@media only screen and (min-width: 768px) {
    .row,
    #context-footer {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin: 0;
        padding: 40px 40px 20px
    }
    .row:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both
    }
    .row-feature {
        background: none
    }
    .container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%
    }
}

@media only screen and (min-width: 984px) {
    .row,
    #context-footer {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin: 0;
        padding: 40px 40px 20px
    }
    .row:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both
    }
    .row-feature {
        background: none
    }
    .container {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%
    }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) { display: none; }
[hidden] { display: none; }

html {
    -moz-transition: background-position 100 ease;
    -ms-text-size-adjust: 100%;
    -o-transition: background-position 100 ease;
    -webkit-text-size-adjust: 100%;
    -webkit-transition: background-position 100 ease;
    background-color: #f7f7f7;
    font-size: 100%;
    overflow-y: scroll;
    text-size-adjust: 100%;
    transition: background-position 100 ease
}

body {
    background-color: #f7f7f7;
    background-size: cover;
    color: #333;
    font-family: Ubuntu, Arial, "libra sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
}
legend {
    border: 0;
    *margin-left: -7px
}
figure { margin: 0; }
abbr,
acronym {
    cursor: help
}
a:focus { outline: thin dotted; }
a:hover,
a:active { outline: 0; }
a:link,
a:visited {
    color: #dd4814;
    text-decoration: none
}
a:hover,
a:active,
a:focus {
    text-decoration: underline
}

a.link-arrow:after { content: "\0000a0›"; }
nav ul li h2 a:after { content: "\0000a0›"; }
nav ul li a:after,
.carousel ul li a:after,
ul li p a:after {
    content: ""
}

ol,
ul {
    list-style: none;
    margin-bottom: 1em;
    padding: 1em 0;
}

ol li,
ul li {
    border: 1px dotted #333;
    border-radius: 2em;
    color: #000;
    display: inline-block;
    font-size: 1.5em;
    line-height: 1.5;
    list-style: none;
    padding: 0.25em 0;
    margin: 0 0.5em 0 0;
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
    min-width: 50px;
    text-align: center;
    vertical-align: middle;
}
ol li code,
ul li code {
    background: transparent;
}
ul li a,
ul li a:link,
ul li a:visited {
    background: transparent;
    color: #333;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none
}

img {
    border: 0;
    height: auto;
    max-width: 100%
}

img.left { margin-right: 20px; }
img.right { margin-left: 20px; }
.middle img {
    vertical-align: middle;
    margin-top: 4em
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    line-height: 1.3
}

h1 {
    font-size: 1.625em;
    margin-bottom: .5em
}

h2 {
    font-size: 1.438em;
    margin-bottom: .5em
}

h3 {
    font-size: 1.219em;
    margin-bottom: .522em
}

h4 {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: .615em
}

h5 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 1em
}

h6 {
    font-size: .723em;
    font-weight: 400;
    margin-bottom: 1em;
    letter-spacing: .1em;
    text-transform: uppercase
}

p,
li {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    margin-bottom: .75em;
    padding: 0
}

h2 span,
h1 span {
    display: block
}

p+h2,
ul+h2,
ol+h2,
pre+h2 {
    margin-top: 0.5625em
}

header nav a:link {
    font-weight: normal
}

p+h3,
ul+h3,
ol+h3,
pre+h3 {
    margin-top: 0.7826086957em
}

p+h4,
ul+h4,
ol+h4,
pre+h4 {
    margin-top: 1.3928571429em
}

ol+h2,
p+h2,
pre+h2,
ul+h2 {
    margin-top: .563em
}

ol+h3,
p+h3,
pre+h3,
ul+h3 {
    margin-top: .783em
}

ol+h4,
p+h4,
pre+h4,
ul+h4 {
    margin-top: 1.219em
}

li {
    margin-bottom: .4em
}

li:last-of-type {
    margin-bottom: 0
}

ins {
    background: #fffbeb;
    text-decoration: none
}

small,
.smaller {
    font-size: 13px
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

code,
pre {
    font-family: "Ubuntu Mono", "Consolas", "Monaco", "Lucida Console", "Courier New", Courier, monospace
}

pre {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fdf6f2;
    padding: .6em 1em;
    white-space: pre-wrap;
    word-wrap: break-word
}

blockquote {
    background: #eee;
    margin: 0 0 0.5em;
    padding: 0.75em 1em;
    quotes: none;
}

button,
input,
select,
textarea {
    font-family: Ubuntu, Arial, "libra sans", sans-serif;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

select {
    font-size: 1em;
    font-weight: 300
}

button,
input {
    line-height: normal
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-sizing: content-box;
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: Ubuntu, Arial, "libra sans", sans-serif;
    font-weight: 300;
    outline: none;
    padding: 0.6956522em 0.869565em
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

form fieldset {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-color: #EFEEEC;
    background-position: -15px -15px;
    border: 0;
    margin-bottom: 8px;
    padding: 15px 20px
}

form fieldset h3 {
    border-bottom: 1px dotted #dfdcd9;
    margin-bottom: 9px;
    padding-bottom: 10px
}

form fieldset li:first-child {
    margin-top: 0
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #999;
    display: block;
    font-family: Ubuntu, Arial, "libra sans", sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding: 0.6956522em 0.869565em
}

form input:focus,
form textarea:focus {
    border: 1px solid #dd4814
}

form textarea[readonly='readonly'] {
    color: #999
}

form input[type="checkbox"],
form input[type="radio"] {
    margin: 0;
    width: auto
}

form input[type="checkbox"]+label,
form input[type="radio"]+label {
    display: inline;
    margin-left: 5px;
    vertical-align: middle;
    width: auto
}

form input[type="submit"] {
    font-size: 1.1428571429em;
    margin-bottom: 0.75em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #dd4814;
    background-image: -moz-linear-gradient(#f26120, #dd4814);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f26120), to(#dd4814));
    background-image: -webkit-linear-gradient(#f26120, #dd4814);
    background-image: -o-linear-gradient(#f26120, #dd4814);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    color: #fff;
    display: block;
    padding: 10px 14px;
    text-shadow: none;
    width: auto;
    margin-bottom: 0
}

form input[type="submit"]:hover {
    background: #dd4814
}

form label {
    cursor: pointer;
    display: block;
    margin-bottom: 4px
}

form label span {
    color: #df382c
}

form ul {
    margin-left: 0
}

form li {
    list-style: none outside none;
    margin-top: 14px
}

form button[type="submit"] {
    border: 0;
    display: inline-block;
    font-family: Ubuntu, Arial, "libra sans", sans-serif;
    text-decoration: none;
    font-weight: 300
}

form input[type="reset"] {
    display: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: scroll;
    margin-bottom: 20px;
    margin: 0 0 2.8571428571em 0;
    width: 100%
}

table th,
table td {
    padding: 15px 10px;
    background: #f0edea;
    border: 1px dotted #888
}

table td {
    text-align: center;
    vertical-align: middle
}

table thead th {
    border-collapse: separate;
    border-spacing: 0 10px;
    background: #fee3d2;
    color: #333333;
    font-weight: normal
}

table tbody th {
    text-align: left;
    font-weight: normal;
    font-weight: 300
}

table th[scope="col"] {
    text-align: center
}

table thead th:first-of-type {
    text-align: left
}

@media only screen and (max-width: 768px) {
    table {
        display: block
    }
}

@media only screen and (min-width: 984px) {
    form fieldset {
        padding: 15px 20px
    }
    img {
        max-width: none
    }
}

.left { float: left; }
.right { float: right; }
.caps { text-transform: uppercase; }
img {
    border: 0 none;
    height: auto;
    max-width: 100%
}
img.left { margin-right: 0; }
img.touch-border { margin-bottom: -3px; }
.accessibility-aid,
.off-left {
    position: absolute;
    left: -999em
}

a.external {
    -moz-background-size: 0.7em 0.7em;
    -webkit-background-size: 0.7em 0.7em;
    -o-background-size: 0.7em 0.7em;
    background-size: 0.7em 0.7em;
    padding-right: .9em;
    background-image: url("../img/external-link-orange.svg");
    background-position: 100% top;
    background-repeat: no-repeat
}

.text-center,
.align-center {
    text-align: center
}

.no-margin {
    margin: 0
}

.no-margin-bottom {
    margin-bottom: 0
}

.no-padding-bottom {
    padding-bottom: 0
}

.caps-centered,
.muted-heading {
    font-size: .875em;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase
}

p.intro {
    font-size: 1.1428571429em;
    margin-bottom: 0.75em;
    line-height: 1.4
}

.row div p:last-child,
.row div ul:last-child {
    margin-bottom: 0
}

.four-col p:last-child {
    margin-bottom: 0
}

.note {
    color: #888;
    font-size: .813em
}

@media only screen and (min-width: 768px) {
    p.intro {
        font-size: 1.13333em
    }
}

@media only screen and (min-width: 984px) {
    h1 {
        font-size: 2.8125em
    }
    h2 {
        font-size: 2em;
        margin-bottom: .375em
    }
    h3 {
        font-size: 1.438em;
        margin-bottom: .522em
    }
    h4 {
        font-size: 1em;
        margin-bottom: .75em
    }
    h5 {
        font-size: 1em
    }
    p,
    li,
    code,
    pre {
        font-size: 1em;
        line-height: 1.5;
        margin-bottom: .75em
    }
    p.intro {
        font-size: 1.25em
    }
}

body footer.global #nav-global li:first-of-type a {
    margin-left: 0
}

footer p {
    padding: 1em 0 0.25em;
}

.row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px dotted #888;
    clear: both;
    padding: 20px 10px 0;
    position: relative
}

.row br {
    display: none
}

.row.no-padding-bottom {
    padding-bottom: 0 !important
}

.row-grey {
    background: #f7f7f7
}

.no-border {
    border: 0
}

#main-content .row-hero {
    margin-top: 20px;
    padding-top: 0
}

.row-background {
    color: #fff;
    background: url("../img/image-background-wallpaper.jpg") no-repeat scroll 50% 50% #4b1827
}

.row-background a.alternate {
    color: #fff;
    text-decoration: underline
}

.row-background a.alternate:hover {
    color: rgba(255, 255, 255, 0.6)
}

@media only screen and (min-width: 768px) {
    .row-background {
        background-position: center 50%;
        background-size: 100% auto
    }
}

.strip {
    width: 100%;
    display: block
}

.strip-dark {
    background-color: #2c001e;
    background-image: url("../img/background-grid.png");
    background-repeat: repeat;
    color: #fff
}

.strip-dark .list-ubuntu li {
    border: 0
}

.strip-dark .resource {
    color: #333;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.strip-dark .resource:before {
    border-right-color: #2c001e
}

#main-content .strip-dark .resource:before {
    border-bottom-width: 29px;
    right: -2px;
    top: -1px
}

#main-content .strip-dark .resource:hover:before {
    border-bottom-width: 34px
}

#main-content .strip-dark .resource h2 {
    padding-right: 20px
}

.row-aux {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center
}

.row-aux h2,
.row-aux p {
    text-align: left
}

.row-aux a p {
    color: #333;
    margin-bottom: 30px
}

.row-step h2 {
    position: relative;
    top: 5px
}

.row-step .step {
    position: relative;
    top: -5px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 3px solid #dd4814;
    color: #dd4814;
    line-height: 32px;
    text-align: center;
    background-color: #fff;
    font-size: 1.75em;
    font-weight: 400
}

@media only screen and (min-width: 768px) {
    .row {
        padding: 30px
    }
    #main-content .row-hero {
        margin-top: 40px
    }
}

@media only screen and (min-width: 769px) {
    .row-step .step {
        height: 42px;
        width: 42px;
        line-height: 42px
    }
    .row br {
        display: block
    }
}

@media only screen and (min-width: 984px) {
    .row br {
        display: block
    }
    .row {
        padding: 60px 40px 40px
    }
    .no-border {
        border: 0
    }
}

.row.row-image-centered,
div.box-image-centered,
div.row-image-centered,
div.row.row-image-centered {
    padding: 20px 10px 0
}

.row-box.row-image-centered {
    padding-top: 20px;
    padding-bottom: 20px
}

.row.row-image-centered {
    padding-top: 40px;
    padding-bottom: 40px
}

.row-hero.row-image-centered {
    padding-top: 0
}

div.row-image-centered div,
div.row-image-centered span,
div.box-image-centered div,
div.box-image-centered span,
div.row.row-image-centered div,
div.row.row-image-centered span {
    float: none
}

div.row-image-centered span,
div.box-image-centered span,
div.row.row-image-centered span {
    width: 100%
}

div.row-image-centered span img,
div.box-image-centered span img,
div.row.row-image-centered span img {
    height: auto;
    max-width: 100%;
    display: block;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px
}

div.row-image-centered p,
div.row-image-centered h2,
div.row-image-centered h3,
div.box-image-centered p,
div.box-image-centered h2,
div.box-image-centered h3,
div.row.row-image-centered p,
div.row.row-image-centered h2,
div.row.row-image-centered h3 {
    float: none
}

@media only screen and (min-width: 768px) {
    div.row-image-centered,
    div.row.row-image-centered,
    div.box-image-centered {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-bottom: 20px;
        display: table
    }
    div.row-image-centered div,
    div.row.row-image-centered div,
    div.box-image-centered div {
        float: none;
        display: table-cell;
        position: relative
    }
    div.row-image-centered div p,
    div.row-image-centered div h2,
    div.row-image-centered div h3,
    div.row.row-image-centered div p,
    div.row.row-image-centered div h2,
    div.row.row-image-centered div h3,
    div.box-image-centered div p,
    div.box-image-centered div h2,
    div.box-image-centered div h3 {
        display: block;
        width: 100%;
        float: left
    }
    div.row-image-centered div+span img,
    div.row.row-image-centered div+span img,
    div.box-image-centered div+span img {
        padding-right: 0;
        margin-bottom: 20px
    }
    div.row-image-centered span,
    div.row.row-image-centered span,
    div.box-image-centered span {
        display: table-cell;
        float: none;
        position: relative;
        text-align: center;
        top: 0;
        vertical-align: middle;
        width: auto
    }
    div.row-image-centered span img,
    div.row.row-image-centered span img,
    div.box-image-centered span img {
        padding-right: 20px
    }
    .js .align-vertically {
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d
    }
    .js .align-vertically img,
    .js .align-vertically div {
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        position: relative;
        top: 50%;
        transform: translateY(-50%)
    }
}

div.box-image-centered {
    padding-top: 20px
}

@media only screen and (min-width: 768px) {
    .row.row-image-centered,
    div.box-image-centered,
    div.row-image-centered,
    div.row.row-image-centered {
        padding: 30px
    }
    div.box-image-centered div+span img,
    div.row-image-centered div+span img,
    div.row.row-image-centered div+span img,
    div.box-image-centered span img.priority-0,
    div.row-image-centered span img.priority-0,
    div.row.row-image-centered span img.priority-0 {
        margin-right: auto;
        display: table-cell;
        margin-bottom: 0
    }
}

@media only screen and (min-width: 984px) {
    .row.row-image-centered,
    div.row-image-centered,
    div.row.row-image-centered,
    div.box-image-centered {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 60px 40px 60px;
        display: table
    }
    .row.row-image-centered div,
    div.row-image-centered div,
    div.row.row-image-centered div,
    div.box-image-centered div {
        float: none;
        display: table-cell;
        position: relative
    }
    .row.row-image-centered div p,
    .row.row-image-centered div h2,
    .row.row-image-centered div h3,
    div.row-image-centered div p,
    div.row-image-centered div h2,
    div.row-image-centered div h3,
    div.row.row-image-centered div p,
    div.row.row-image-centered div h2,
    div.row.row-image-centered div h3,
    div.box-image-centered div p,
    div.box-image-centered div h2,
    div.box-image-centered div h3 {
        display: block;
        width: 100%;
        float: left
    }
    .row.row-image-centered div+span img,
    div.row-image-centered div+span img,
    div.row.row-image-centered div+span img,
    div.box-image-centered div+span img {
        padding-right: 0
    }
    .row.row-image-centered span,
    div.row-image-centered span,
    div.row.row-image-centered span,
    div.box-image-centered span {
        display: table-cell;
        float: none;
        position: relative;
        text-align: center;
        top: 0;
        vertical-align: middle;
        width: auto
    }
    .row.row-image-centered span img,
    div.row-image-centered span img,
    div.row.row-image-centered span img,
    div.box-image-centered span img {
        padding-right: 20px
    }
}

.box,
.box-grey {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1.333em 20px
}

.box {
    background: #fff;
    border: 1px solid #dfdcd9
}

.box-grey {
    background: #f7f7f7;
    color: #333
}

.box-orange {
    background: #dd4814;
    color: #fff
}

.box-highlight {
    -moz-box-shadow: 0 2px 2px 0 #c2c2c2;
    -webkit-box-shadow: 0 2px 2px 0 #c2c2c2;
    box-shadow: 0 2px 2px 0 #c2c2c2;
    border: 1px solid #f7f7f7
}

.box-textured {
    -moz-box-shadow: 0 2px 2px 0 #c2c2c2;
    -webkit-box-shadow: 0 2px 2px 0 #c2c2c2;
    box-shadow: 0 2px 2px 0 #c2c2c2;
    background: url("../img/grey-textured-background.jpg");
    border: 0
}

.box-padded {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #efefef;
    border: 0;
    margin-bottom: 20px;
    padding: 6px 5px
}

.box-padded h3 {
    font-size: 1.3928571429em;
    margin-bottom: 0.6153846154em;
    margin-left: 5px;
    margin-top: 5px
}

.box-padded li h3 {
    font-size: 1.3928571429em;
    margin-bottom: 0.6153846154em;
    margin: 0
}

.box-padded div {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    padding: 8px 8px 2px
}

.box-padded-feature {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: url("../img/soft-centre-bkg.gif") repeat scroll 0 0 #a09f9f;
    border: 0;
    margin-bottom: 20px;
    padding: 11px 5px 6px
}

.box-padded-feature h3 {
    color: #fff;
    margin-left: 5px;
    font-size: 1.3928571429em;
    margin-bottom: 0.6153846154em
}

.box-padded-feature h4 {
    font-size: 1.1428571429em;
    margin-bottom: 0.75em;
    font-weight: normal
}

.box-padded-feature>div {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
    padding: 20px 8px
}

.box-padded-feature div div {
    margin-bottom: 0
}

.box-padded-feature .inline-icons {
    display: table;
    width: 100%;
    margin: 0;
    text-align: center
}

.box-padded-feature .inline-icons li {
    display: table-cell;
    text-align: left;
    float: none
}

.box-padded-feature .one-col {
    width: 48px;
    float: left
}

.resource {
    cursor: pointer;
    padding-bottom: 40px;
    position: relative;
    -moz-transition: background .2s ease-out;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out
}

.resource h2 {
    padding-right: 20px
}

.resource.five-col h2 a:link,
.resource.five-col h2 a:visited,
.resource.four-col h2 a:link,
.resource.four-col h2 a:visited {
    font-size: inherit !important
}

.resource.four-col h2 a:link,
.resource.four-col h2 a:visited {
    font-size: 1.125em
}

.resource.twelve-col h2 a:link,
.resource.twelve-col h2 a:visited {
    font-size: 1.40625em
}

.resource:hover {
    background-color: #fafafa
}

.resource:after {
    -moz-box-shadow: 0 -1px 2px 0 #ddd;
    -webkit-box-shadow: 0 -1px 2px 0 #ddd;
    box-shadow: 0 -1px 2px 0 #ddd;
    content: '';
    height: 1px;
    position: absolute;
    right: -6px;
    top: 14px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 41px;
    z-index: 2
}

.resource:hover:after {
    right: -9px;
    top: 18px;
    width: 48px
}

.resource:before {
    content: '';
    position: absolute;
    -moz-transition: border-width .2s ease-out;
    -webkit-transition: border-width .2s ease-out;
    transition: border-width .2s ease-out;
    top: -2px;
    right: -3px;
    width: 0;
    height: 0;
    border-bottom: 30px solid #fdfdfd;
    border-right: 30px solid #fff;
    -webkit-box-shadow: -2px 2px 2px rgba(176, 176, 176, 0.4);
    -moz-box-shadow: -2px 2px 2px rgba(176, 176, 176, 0.4);
    box-shadow: -2px 2px 2px rgba(176, 176, 176, 0.4);
    z-index: 2;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0
}

.resource:hover:before {
    border-bottom-width: 35px;
    border-right-width: 35px
}

.resource:last-of-type {
    margin-bottom: 30px
}

.resource .content-cat {
    background: url("../img/icon-resource-hub-icon-document.png") left center no-repeat;
    color: #aea79f;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin: 0;
    padding-left: 20px;
    padding: 0;
    position: absolute;
    text-transform: uppercase
}
