@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url("/shared/fonts/ubuntu-l-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-l-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url("/shared/fonts/ubuntu-r-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-r-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url("/shared/fonts/ubuntu-b-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-b-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: url("/shared/fonts/ubuntu-li-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-li-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url("/shared/fonts/ubuntu-ri-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-ri-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url("/shared/fonts/ubuntu-bi-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-bi-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url("/shared/fonts/ubuntumono-r-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntumono-r-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("/shared/fonts/fa-brands-400.eot");
  src: url("/shared/fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
       url("/shared/fonts/fa-brands-400.woff2") format("woff2"),
       url("/shared/fonts/fa-brands-400.woff") format("woff"),
       url("/shared/fonts/fa-brands-400.ttf") format("truetype"),
       url("/shared/fonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("/shared/fonts/fa-regular-400.eot");
  src: url("/shared/fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
       url("/shared/fonts/fa-regular-400.woff2") format("woff2"),
       url("/shared/fonts/fa-regular-400.woff") format("woff"),
       url("/shared/fonts/fa-regular-400.ttf") format("truetype"),
       url("/shared/fonts/fa-regular-400.svg#fontawesome") format("svg"); }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("/shared/fonts/fa-solid-900.eot");
  src: url("/shared/fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
       url("/shared/fonts/fa-solid-900.woff2") format("woff2"),
       url("/shared/fonts/fa-solid-900.woff") format("woff"),
       url("/shared/fonts/fa-solid-900.ttf") format("truetype"),
       url("/shared/fonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fab { font-family: 'Font Awesome 5 Brands'; }
.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

:root {
    --background-yellow: #ffffc0;
    --background-white: #fcfcfc;
    --background-color: #d5ead5;
    --background-grey: #f6f6f6;
    --border-color: #ccc;
    --line-color: #004fef;
    --text-inactive: #c7254e;
    --text-black: #000;
    --text-white: #fff;
    --text-color: #1d1d1d;
    --nav-color: #fcfcfc;
    --odd-color: #eee;
    --button-success-back: #2f8c1e;
    --button-success-line: #257018;
    --button-success-text: #fff;
    --button-primary-back: #004fef;
    --button-primary-line: #0038a0;
    --button-primary-text: #fff;
    --button-danger-back: #8c1e2f;
    --button-danger-line: #a11d1b;
    --button-danger-text: #fff;
    --button-text-dark: #1d1d1d;
    --button-text: #1d1d1d;
    --button-back: #f9f2f4;
    --input-back: #fcfcfc;
    --navigation-text: #5a3b86;
    --highlight-back: #fffec8;
    --highlight-text: #000;
    --selected-back: #e5edfc;
    --selected-text: #1d1d1d;
    --required-back: #caf6cd;
    --header-back: #1e2f8c;
    --header-text: #fff;
    --code-back: #f9f2f4;
    --code-text: #c7254e;
    --link-text: #004fef;

    --pin-purple: #643ba2;
    --pin-yellow: #ffff00;
    --pin-orange: #ffa500;
    --pin-green: #99cc99;
    --pin-blue: #004fef;
    --pin-red: #ff495c;
    --pin-black: #1d1d1d;
}

/** ************************************************************************* *
 *  Core Defaults
 ** ************************************************************************* */
html {
    height: 100vh;
    overflow: -moz-scrollbars-none;
}
body {
    background: var(--background-color, #d5ead5);
    background-attachment: fixed;
    background-color: var(--background-color, #d5ead5);
    background-image: linear-gradient(145deg, #99cc99, #99cc99, #add6ad, #bddebd, #cae5ca, #d5ead5);
    background-repeat: no-repeat;
    color: var(--text-color, #000);
    display: block;
    font-family: 'Ubuntu', -apple-system, 'メイリオ', 'Meiryo', 'DejaVu Sans', 'Helvetica', 'Tahoma', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar { display: none; }

body.font-sans { font-family: 'Helvetica', 'Tahoma', 'Arial', sans-serif; }
body.font-serif { font-family: 'Times New Roman', 'Georgia', 'Palatino', 'Baskerville', serif; }
body.font-mono { font-family: 'Ubuntu Mono', 'Lucida', 'Courier', 'Monaco', monospace; }
body.size-xs { font-size: 0.7em; }
body.size-sm { font-size: 0.85em; }
body.size-md { font-size: 1em; }
body.size-lg { font-size: 1.25em; }
body.size-xl { font-size: 1.5em; }

a {
    color: var(--link-text, #268bd2);
    text-decoration: none;
}
button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: transparent !important;
    border: 0;
    border-radius: 1.25em;
    box-shadow: none;
    cursor: pointer;
    filter: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: none;
    text-shadow: none;
    vertical-align: text-top;
    padding: 0.5em 1.25em;
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
button:active,
button:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
button:hover { text-shadow: none; }
button.btn-primary {
    background: var(--button-primary, #839496);
    color: var(--button-text, #fff);
}
textarea,
input {
    color: var(--text-color, #000);
    font-family: 'Ubuntu', -apple-system, 'メイリオ', 'Meiryo', 'DejaVu Sans', 'Helvetica', 'Tahoma', 'Arial', sans-serif;
    font-weight: normal;
}

/** ************************************************************************* *
 *  Key Classes
 ** ************************************************************************* */
.nopadding { padding: 0; }
.nomargin { margin: 0; }
.clickable { cursor: pointer !important; }
.pointer { cursor: pointer !important; }
.hidden { display: none !important; }

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-justify { text-align: justify !important; }

.api-message {
    display: block;
    text-align: center;
    padding: 2em 0.5em;
    margin: 0 auto;
    max-width: calc(100% - 2em);
    width: 100%;
}
.api-message i {
    font-size: 1.5em;
    vertical-align: middle;
    padding: 0;
    margin: 0 0.25em 0 0;
}
.api-message span {
    font-size: 1.25em;
    font-style: italic;
    vertical-align: middle;
    padding: 0;
    margin: 0 0 0 0.25em;
}

/** ************************************************************************* *
 *  Navigation
 ** ************************************************************************* */
nav {
    display: flex;
    padding: 0.5em 0 1em;
    margin: 0 auto;
    width: calc(100% - 2em);
    max-width: 1200px;
}

nav h1,
nav ul {
    align-items: center;
    display: inline-flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
}

nav h1 {
    font-size: 2em;
    font-weight: bold;
}
nav ul {
    align-items: flex-end;
    font-size: 1.25em;
    list-style: none;
    justify-content: flex-end;
}
nav ul li {
    cursor: pointer;
    display: inline-block;
    list-style: none;
    list-style-image: none;
    padding: 0.25em 0.5em;
}
nav ul li:last-child {
    padding: 0.25em 0 0.25em 0.5em;
}

/** ************************************************************************* *
 *  Main Body
 ** ************************************************************************* */
div.container {
    display: flex;
    padding: 0;
    margin: 0 auto;
    width: calc(100% - 2em);
    max-width: 1200px;
}
section {
    background: transparent;
    display: inline-flex;
    text-align: justify;
    vertical-align: text-top;
}

section.port {
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 1em 0 0;
    width: 300px;
}
section.starboard {
    flex-grow: 1;
    margin: 0 0 0 1em;
}

article {
    background: var(--background-white, #fff);
    border: 2px solid var(--background-white, #fff);
    border-radius: 0.25em;
    padding: 1em 0.5em;
}
article.idtag h2 {
    display: block;
    text-align: center;
    width: 100%;
}
article.idtag img {
    display: block;
    margin: 0 auto;
    width: calc(100% - 4em);
}
article.idtag ul {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0 1em;
    margin: 0;
}
article.idtag ul li {
    display: inline-flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

article.item {

}
article.item h2,
article.item h3 {
    padding: 0;
    margin: 0 0 0.25em;
    width: 100%;
}
article.item h2 { font-size: 1.5em; }
article.item h3 {
    border-bottom: 1px solid var(--border-color, #ccc);
    font-size: 1.25em;
    font-style: italic;
    font-weight: 100;
    padding: 0 2em 0.25em 0.5em;
    margin: 0 0 1em 0.5em;
    width: fit-content;
    min-width: auto;
    max-width: none;
}
article.item p {
    display: block;
    text-align: justify;
    padding: 0 0.5em;
    margin: 0 0 0.5em;
    width: calc(100% - 1em);
}