@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url("/shared/fonts/ubuntu-l-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-l-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url("/shared/fonts/ubuntu-r-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-r-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url("/shared/fonts/ubuntu-b-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-b-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: url("/shared/fonts/ubuntu-li-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-li-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url("/shared/fonts/ubuntu-ri-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-ri-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url("/shared/fonts/ubuntu-bi-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-bi-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url("/shared/fonts/ubuntumono-r-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntumono-r-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("/shared/fonts/fa-brands-400.eot");
  src: url("/shared/fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
       url("/shared/fonts/fa-brands-400.woff2") format("woff2"),
       url("/shared/fonts/fa-brands-400.woff") format("woff"),
       url("/shared/fonts/fa-brands-400.ttf") format("truetype"),
       url("/shared/fonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("/shared/fonts/fa-regular-400.eot");
  src: url("/shared/fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
       url("/shared/fonts/fa-regular-400.woff2") format("woff2"),
       url("/shared/fonts/fa-regular-400.woff") format("woff"),
       url("/shared/fonts/fa-regular-400.ttf") format("truetype"),
       url("/shared/fonts/fa-regular-400.svg#fontawesome") format("svg"); }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("/shared/fonts/fa-solid-900.eot");
  src: url("/shared/fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
       url("/shared/fonts/fa-solid-900.woff2") format("woff2"),
       url("/shared/fonts/fa-solid-900.woff") format("woff"),
       url("/shared/fonts/fa-solid-900.ttf") format("truetype"),
       url("/shared/fonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fab { font-family: 'Font Awesome 5 Brands'; }
.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

:root {
    --background-yellow: #ffffc0;
    --background-color: #fdf6e3;
    --text-color: #586e75;
    --border-color: #268bd2;
    --border-input: #676767;

    --button-primary: #268bd2;
    --button-danger: #dc322f;
    --button-text-dark: #586e75;
    --button-text: #fff;
    --button-back: #eee8d5;

    --navigation-text: #01cd74;
    --highlight-back: #657b83;
    --highlight-text: #657b83;
    --selected-text: #fff;
    --selected-back: #657b83;
    --progress-prog: #586e75;

    --code-back: #586e75;
    --code-text: #fdf6e3;
    --link-text: #268bd2;

    --pin-yellow: #d33682;
    --pin-orange: #ffa500;
    --pin-green: #00b400;
    --pin-blue: #268bd2;
    --pin-red: #dc322f;
    --pin-black: #000;
}

:root .dark {
    --background-yellow: #333;
    --background-color: #000;
    --border-color: #f9f2f4;
    --border-input: #676767;
    --text-color: #bebebe;

    --button-primary: #5f6265;
    --button-text-dark: #000;
    --button-text: #fff;

    --navigation-text: #01cd74;
    --highlight-back: #686868;
    --highlight-text: #686868;
    --selected-back: #686868;
    --progress-prog: #686868;

    --code-back: #bebebe;
    --code-text: #000;
    --link-text: #ff4e00;

    --pin-black: #fff;
}

/** ************************************************************************* *
 *  Core Defaults
 ** ************************************************************************* */
html {
    height: 100vh;
    overflow: -moz-scrollbars-none;
}
body {
    background-color: var(--background-color, #fff);
    color: var(--text-color, #000);
    font-family: 'Ubuntu', -apple-system, 'メイリオ', 'Meiryo', 'DejaVu Sans', 'Helvetica', 'Tahoma', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 100vw;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {  display: none; }

body.font-xs { font-size: 0.7em; }
body.font-sm { font-size: 0.85em; }
body.font-md { font-size: 1em; }
body.font-lg { font-size: 1.25em; }
body.font-xl { font-size: 1.5em; }

a {
    color: var(--link-text, #268bd2);
    text-decoration: none;
}
button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    filter: none;
    outline: none;
    text-shadow: none;
    padding: 0.25em 0.5em;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
button:active,
button:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
button:hover { text-shadow: none; }
button.btn-primary {
    background: var(--button-primary, #839496);
    color: var(--button-text, #fff);
}
button.btn-info {
    background: var(--pin-yellow, #d33682);
    color: var(--button-text-dark, #586e75);
}
button.btn-warning {
    background: var(--pin-orange, #ffa500);
    color: var(--button-text-dark, #586e75);
}
button.btn-danger {
    background: var(--button-danger, #dc322f);
    color: var(--button-text, #fff);
}
img {
    border: 1px solid var(--border-color, #268bd2);
    padding: 2px;
    max-width: calc(100% - 5px);
}
pre {
    color: var(--text-color, #586e75);
    font-family: 'Ubuntu', -apple-system, 'メイリオ', 'Meiryo', 'DejaVu Sans', 'Helvetica', 'Tahoma', 'Arial', sans-serif;
    white-space: pre-wrap;
    word-wrap: normal;
    overflow-x: hidden;
    overflow-y: auto;
}
pre.mono {
    font-family: 'Ubuntu Mono', monospace;
}

/** ************************************************************************* *
 *  Key Classes
 ** ************************************************************************* */
.nopadding { padding: 0; }
.nomargin { margin: 0; }
.clickable { cursor: pointer; }
.pointer { cursor: pointer; }
.hidden { display: none; }

/** ************************************************************************* *
 *  Navigation
 ** ************************************************************************* */
nav {
    background-color: var(--background-color, #fff);
    border-bottom: 2px solid var(--border-color, #ccc);
    display: block;
    text-align: right;
    vertical-align: middle;
    position: fixed;
    padding: 10px 0 5px;
    margin: 0 auto;
    min-height: 40px;
    max-width: 980px;
    width: calc(100vw - 2em);
    right: 0;
    left: 0;
    top: 0;
}

nav button,
nav h1 {
    color: var(--link-text, #268bd2);
    display: inline-block;
    font-size: 36px;
    vertical-align: middle;
    margin: 0;
}
nav button {
    background-color: transparent !important;
    background: transparent !important;
    border: 2px dotted transparent;
    border-radius: 0;
    color: var(--link-text, #268bd2);
    font-size: 18px;
    padding: 0 5px;
    margin: 8px 0 0 15px;
}
nav h1 { float: left; }
nav .fas {
    font-size: 1.25em;
    margin: 0 0.5em;
}

/** ************************************************************************* *
 *  Messages
 ** ************************************************************************* */
.api-message {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: calc(100% - 2em);
}
.api-message span,
.api-message i { padding: 0 0.25em; }

/** ************************************************************************* *
 *  Sections
 ** ************************************************************************* */
section {
    display: block;
    margin: 75px auto 25px;
    max-width: 980px;
    width: calc(100vw - 2em);
}

section.error {
    border: 2px solid var(--border-color, #000);
    border-radius: 15px;
    padding: 40px 0;
}
section.error h1 {
    font-size: 120px;
    text-align: center;
    margin: 10px auto;
    width: 100%;
}
section.error p {
    font-size: 24px;
    text-align: center;
    margin: 5px auto;
    width: 100%;
}

section .account-form {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}
section .account-form button {
    font-size: 1.1em;
    padding: 0.333em 1em;
    margin: 0.5em 1em 0;
}
section .account-form label {
    display: block;
    padding: 0.5em 0;
    margin: 0;
    width: 100%;
}
section .account-form label span {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    padding: 0;
    margin: 0 0.5em 0 0;
    width: 6em;
}
section .account-form label input {
    font-size: 1.1em;
    text-align: center;
    vertical-align: middle;
    padding: 0.25em 0.5em;
    margin: 0 0 0 0.5em;
    width: calc(100% - 10em);
}
section .fade,
section.fade { opacity: 0.25; }

/** ************************************************************************* *
 *  Modals
 ** ************************************************************************* */
section.modals {
    background-color: var(--background-color, #fff);
    border: 2px solid var(--border-color, #ccc);
    border-radius: 25px;
    position: fixed;
    right: 0;
    left: 0;
    top: 100px;
    z-index: 1000;
}
section.modals h3 {
    padding: 0.25em 0.5em;
    margin: 0.5em auto;
    width: calc(100% - 1em);
}
section.modals h3 span { vertical-align: middle; }
section.modals h3 button {
    background-color: transparent;
    font-size: 1.25em;
    vertical-align: middle;
    padding: 0 0.25em;
    margin: 0;
    float: right;
}
section.modals pre {
    border: 1px solid var(--border-color, #ccc);
    display: inline-block;
    vertical-align: text-top;
    padding: 0.25em 0.5em;
    margin: 0 auto 0.25em;
    max-height: 40vh;
    min-height: 4.5em;
    width: calc(100% - 8em);
}

section.modals pre[placeholder]:empty::before
section.modals pre:empty:not(:focus):before {
    content: attr(data-placeholder);
    color: var(--placeholder-color, #93a1a1);
    font-style: italic;
    text-align: center;
}
section.modals pre[placeholder]:empty:focus::before { content: ""; }

section.modals article {
    border: 2px solid var(--border-color, #ccc);
    display: inline-block;
    vertical-align: text-top;
    margin: 0 0.5em;
    max-height: calc(5em - 2px);
    height: 5em;
    max-width: calc(5em - 2px);
    width: 5em;
}
section.modals article button {
    display: block;
    height: 100%;
    width: 100%;
}

section.modals div {
    display: block;
    padding: 0;
    margin: 0 auto 0.5em;
    width: calc(100% - 1em);
}
section.modals div button {
    font-size: 1em;
}
section.modals div span {
    float: right;
    vertical-align: middle;
}

section.modals div.actions {
    text-align: right;
    padding: 0.25em 0;
}

/** ************************************************************************* *
 *  Articles
 ** ************************************************************************* */
article {
    display: block;
    vertical-align: text-top;
    width: 100%;
}
article div {
    display: block;
    vertical-align: text-top;
    width: 100%;
}
article div.authorship p {
    display: inline-block;
    width: 100%;
    margin: 0;
}
article div.authorship p.meta { display: block; }
article div.authorship p.meta .fa {
    font-size: 0.8em;
    vertical-align: middle;
    margin: 0 0.333em 0 0;
}
article div.authorship span {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
article div.authorship span.avatar {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid var(--border-color, #ccc);
    border-radius: 40px;
    display: inline-block;
    max-height: 70px;
    min-height: 40px;
    height: 3em;
    max-width: 70px;
    min-width: 40px;
    width: 3em;
}
article div.authorship span.description {
    padding: 0 0 0 0.5em;
    max-width: calc(100% - 80px);
}

article .account {
    color: var(--link-text, #268bd2);
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
article figure {
    border: 1px solid var(--border-color, #ccc);
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 2px;
    margin: 0 0 0.85em;
    max-width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
article figure::-webkit-scrollbar {  display: none; }
article figure.single {
    align-content: center;
    justify-content: center;
}
article figure img {
    border-bottom: none;
    border-right: 1px solid var(--border-color, #ccc);
    border-left: none;
    border-top: none;
    cursor: pointer;
    display: inline-flex;
    padding: 0 2px 0 0;
    margin: 0 2px 0 0;
    max-height: 300px;
}
article figure img:last-child {
    border: none;
    padding: 0;
    margin: 0;
}
article figure figcaption { display: none;}

article .publish-at {
    font-size: 0.75em;
    text-transform: uppercase;
}

article .post-content {
    display: block;
    margin: 0 0 0 1.5em;
    border-left: 3px solid var(--border-color, #ccc);
    padding: 0 0 0 2em;
    width: calc(100% - 5em);
    vertical-align: text-top;
}
article .post-content p {
    line-height: 1.333em;
    padding: 0 0 0.85em;
    margin: 0;
}
article .post-content blockquote {
    border-left: 0.333em solid var(--border-color, #ccc);
    display: block;
    margin: 0 0 0.5em;
    padding: 0.5em 1em 0.5em 0.75em;
    width: calc(100% - 2em);
}
article .post-content blockquote p:last-child { padding: 0; }
article .post-content code {
    font-size: 1.15em;
}