Options +MultiViews +FollowSymLinks
Options -Indexes

DirectoryIndex index.php

RewriteEngine On
RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^.*$ ./index.php

Header always edit Set-Cookie (.*) "$1; SameSite=None; Secure"

<FilesMatch "\.(ico|css|js|pdf|jpg|jpeg|png|gif)$">
    Header set Cache-Control "max-age=1209600, public"
</FilesMatch>

<FilesMatch "\.(htaccess|htpasswd|inc|log|sql|user|token)$">
        Order Allow,Deny
        Deny from all
</FilesMatch>

<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/xml text/css text/plain
    AddOutputFilterByType DEFLATE image/svg+xml application/xhtml+xml application/xml
    AddOutputFilterByType DEFLATE application/rdf+xml application/rss+xml application/atom+xml
    AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript application/json
    AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-otf
    AddOutputFilterByType DEFLATE font/truetype font/opentype
</ifModule>