@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url("/shared/fonts/ubuntu-l-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-l-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url("/shared/fonts/ubuntu-r-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-r-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url("/shared/fonts/ubuntu-b-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-b-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 300;
    src: url("/shared/fonts/ubuntu-li-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-li-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url("/shared/fonts/ubuntu-ri-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-ri-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url("/shared/fonts/ubuntu-bi-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntu-bi-webfont.woff") format("woff")
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url("/shared/fonts/ubuntumono-r-webfont.woff2") format("woff2"),
         url("/shared/fonts/ubuntumono-r-webfont.woff") format("woff")
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("/shared/fonts/fa-brands-400.eot");
  src: url("/shared/fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
       url("/shared/fonts/fa-brands-400.woff2") format("woff2"),
       url("/shared/fonts/fa-brands-400.woff") format("woff"),
       url("/shared/fonts/fa-brands-400.ttf") format("truetype"),
       url("/shared/fonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("/shared/fonts/fa-regular-400.eot");
  src: url("/shared/fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
       url("/shared/fonts/fa-regular-400.woff2") format("woff2"),
       url("/shared/fonts/fa-regular-400.woff") format("woff"),
       url("/shared/fonts/fa-regular-400.ttf") format("truetype"),
       url("/shared/fonts/fa-regular-400.svg#fontawesome") format("svg"); }

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("/shared/fonts/fa-solid-900.eot");
  src: url("/shared/fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
       url("/shared/fonts/fa-solid-900.woff2") format("woff2"),
       url("/shared/fonts/fa-solid-900.woff") format("woff"),
       url("/shared/fonts/fa-solid-900.ttf") format("truetype"),
       url("/shared/fonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fab { font-family: 'Font Awesome 5 Brands'; }
.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

:root {
    --background-article: #fff;
    --background-yellow: #ffffc0;
    --background-color: #f6f6f6;
    --header-back: #27b75f;
    --header-text: #fff;

    --text-color: #444444;
    --border-color: #ccc;

    --button-primary: #268bd2;
    --button-danger: #dc322f;
    --button-text-dark: #586e75;
    --button-text: #fff;
    --button-back: #eee8d5;

    --orange: #ffa500;
    --purple: #643ba2;
    --yellow: #ffff00;
    --black: #1d1d1d;
    --green: #27b75f;
    --white: #ffffff;
    --blue: #004fef;
    --red: #ff495c;
}

/** ************************************************************************* *
 *  Core Defaults
 ** ************************************************************************* */
html {
    height: 100vh;
    overflow: -moz-scrollbars-none;
}
body {
    background-color: var(--background-color, #ccc);
    color: var(--text-color, #000);
    display: block;
    font-family: 'Ubuntu', -apple-system, 'メイリオ', 'Meiryo', 'DejaVu Sans', 'Helvetica', 'Tahoma', 'Arial', sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-word;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-width: 100vw;
    min-width: 100vw;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body.font-sans { font-family: 'Helvetica', 'Tahoma', 'Arial', sans-serif; }
body.font-serif { font-family: 'Times New Roman', 'Georgia', 'Palatino', 'Baskerville', serif; }
body.font-mono { font-family: 'Ubuntu Mono', 'Lucida', 'Courier', 'Monaco', monospace; }
body.size-xs { font-size: 0.7em; }
body.size-sm { font-size: 0.85em; }
body.size-md { font-size: 1em; }
body.size-lg { font-size: 1.25em; }
body.size-xl { font-size: 1.5em; }

a {
    color: var(--blue, #004fef);
    text-decoration: none;
}
button {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-color: transparent !important;
    border: 0;
    border-radius: 1.25em;
    box-shadow: none;
    cursor: pointer;
    filter: none;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: none;
    text-shadow: none;
    vertical-align: text-top;
    padding: 0.5em 1.25em;
    margin: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
button:active,
button:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
button:hover { text-shadow: none; }
button.btn-primary {
    background: var(--button-primary, #839496);
    color: var(--button-text, #fff);
}
button.btn-info {
    background: var(--pin-yellow, #d33682);
    color: var(--button-text-dark, #586e75);
}
button.btn-warning {
    background: var(--pin-orange, #ffa500);
    color: var(--button-text-dark, #586e75);
}
button.btn-danger {
    background: var(--button-danger, #dc322f);
    color: var(--button-text, #fff);
}
img {
    display: block;
    padding: 0;
    margin: 0 auto;
    height: auto;
    max-width: calc(100% - 4px);
    width: auto;
}
pre {
    color: var(--text-color, #000);
    font-family: 'Ubuntu', -apple-system, 'メイリオ', 'Meiryo', 'DejaVu Sans', 'Helvetica', 'Tahoma', 'Arial', sans-serif;
    white-space: pre-wrap;
    word-wrap: normal;
    overflow-x: hidden;
    overflow-y: auto;
}
pre.mono {
    font-family: 'Ubuntu Mono', monospace;
}
textarea,
input {
    color: var(--text-color, #000);
    font-family: 'Ubuntu', -apple-system, 'メイリオ', 'Meiryo', 'DejaVu Sans', 'Helvetica', 'Tahoma', 'Arial', sans-serif;
    font-weight: normal;
}

/** ************************************************************************* *
 *  Key Classes
 ** ************************************************************************* */
.nopadding { padding: 0; }
.nomargin { margin: 0; }
.clickable { cursor: pointer !important; }
.pointer { cursor: pointer !important; }
.hidden { display: none !important; }

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-justify { text-align: justify !important; }

.api-message {
    display: block;
    text-align: center;
    padding: 2em 0.5em;
    margin: 0 auto;
    max-width: calc(100% - 2em);
    width: 100%;
}
.api-message i {
    font-size: 1.5em;
    vertical-align: middle;
    padding: 0;
    margin: 0 0.25em 0 0;
}
.api-message span {
    font-size: 1.25em;
    font-style: italic;
    vertical-align: middle;
    padding: 0;
    margin: 0 0 0 0.25em;
}

/** ************************************************************************* *
 *  Header Classes
 ** ************************************************************************* */
header {
    background-color: var(--header-back, #000);
    border: none;
    color: var(--header-text, #000);
    display: block;
    position: absolute;
    height: 15em;
    width: 100vw;
    right: 0;
    left: 0;
    top: 0;
}

header.stick {
    position: fixed;
    height: 3em;
    z-index: 1000;
}

header ul {
    display: flex;
    list-style: none;
    vertical-align: middle;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    width: calc(100vw - 1em);
}
header ul li {
    align-items: center;
    display: inline-flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: start;
}
header ul li:last-child {
    justify-content: end;
    text-align: right;
}

header a.title {
    align-items: center;
    color: var(--header-text, #fff);
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: lowercase;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
header a.title:visited,
header a.title:hover {
    color: var(--header-text, #fff);
}
header button {
    background: transparent;
    color: var(--header-text, #fff);
    font-size: 1.5em;
    padding: 10px 10px 5px 10px;
}

@media (max-width: 450px) {
    header a.title {
        margin: 0 0 0 0.5em;
        width: calc(100vw - 80px - 1em);
    }
}

/** ************************************************************************* *
 *  Footer Classes
 ** ************************************************************************* */
footer {
    border-top: 1px solid var(--border-color, #ccc);
    display: block;
    padding: 0.5em 0 0;
    width: 100vw;
}
footer p {
    display: block;
    font-size: 0.9em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding: 0.25em 0;
    margin: 0 auto;
    max-width: calc(100vw - 1em);
    width: 100%;
}

/** ************************************************************************* *
 *  Primary Classes
 ** ************************************************************************* */
main {
    background-color: var(--background-article, #fff);
    /* box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.25); */
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: 75px auto;
    min-height: calc(100vh - 215px);
    max-width: 1200px;
    width: calc(100vw - 1em);
}

article {
    display: block;
    line-height: 1.5em;
    padding: 0;
    margin: 0 auto;
    max-width: 1000px;
    width: calc(100% - 1em);
}

article aside {
    display: block;
    font-size: 1em;
    font-weight: normal;
    padding: 0 0.5em;
    margin: 0 0 4em;
    max-width: calc(100% - 3em);
}

article h1,
article h2 {
    text-align: left;
    padding: 0;
    margin: 0 0 0.333em;
}

article h1 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1.1em;
    text-transform: uppercase;
    margin-top: 100px;
}

article .lead-letter {
    font-size: 10em;
    line-height: 0.45em;
    text-transform: uppercase;
    opacity: 0.05;
    position: absolute;
    margin-left: -45px;
}

article .meta span {
    display: inline-block;
    padding: 0 0.25em;
    margin: 0;
}

article blockquote {
    background-color: var(--background-color, #fff);
    border-left: 5px solid var(--border-color, #ccc);
    padding: 0.25em 1em;
    margin: 0 auto;
}
article blockquote p {
    margin: 0 0 0.25em;
}
article blockquote p:last-child { margin: 0; }

article img {
    max-height: 400px;
}

article ul.readmore-list {
    display: block;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
article ul.readmore-list li {
    display: block;
    list-style: none;
    padding: 0.25em;
    margin: 0;
}
article ul.readmore-list li label {
    display: inline-block;
    font-weight: bold;
    text-align: right;
    min-width: 5em;
    padding: 0;
    margin: 0 1em 0 0;
}



article ul.tags {
    display: block;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
article ul.tags li {
    border: 1px dotted var(--border-color, #ccc);
    display: inline-block;
    padding: 3px 5px;
    margin: 0 5px 5px 0;
}
article ul.tags li:last-child { margin: 0; }

@media (max-width: 1200px) {
    main { box-shadow: none; }
}

@media (max-width: 450px) {
    main { margin: 75px auto 25px; }
}

/** ************************************************************************* *
 *  Image Gallery Classes
 ** ************************************************************************* */
gallery {
    border: 1px solid var(--border-color, #ccc);
    display: block;
    line-height: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
    padding: 2px 0;
    margin: 0 auto;
    width: calc(100% - 2px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

gallery.layout-multi span {
    border: 2px solid transparent;
    cursor: pointer;
    display: inline-block;
    padding: 1px;
    margin: 0;
}
gallery.layout-multi span.selected {
    border-color: var(--red, #f00);
    cursor: none;
}
gallery.layout-multi img.thumb {
    border: none;
    padding: 0;
    margin: 0;
    max-height: 75px;
    max-width: none;
    min-width: auto;
    width: auto;
}

div.viewer {
    background: var(--background-color, #ccc);
    border-right: 1px solid var(--border-color, #ccc);
    border-left: 1px solid var(--border-color, #ccc);
    border-top: 1px solid var(--border-color, #ccc);
    display: block;
    padding: 2px 0;
    margin: 0 auto;
    max-height: 800px;
    min-height: 200px;
    width: calc(100% - 2px);
}

/** ************************************************************************* *
 *  Archive Page Classes
 ** ************************************************************************* */
article.archives h1 { margin: 100px 0 0; }
article.archives h3.archive-count {
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    padding: 0 0 0 1em;
    margin: 0;
    width: calc(100% - 2em);
}
article.archives p.post-item {
    display: block;
    padding: 0 0 0 1em;
    margin: 0 0 0.5em;
    max-width: calc(100% - 2em);
}
article.archives p.post-item label,
article.archives p.post-item span,
article.archives p.post-item a {
    display: inline-block;
    vertical-align: text-top;
}
article.archives p.post-item label {
    text-align: right;
    min-width: 3em;
}
article.archives p.post-item span { padding: 0 0.25em; }
article.archives p.post-item a:visited,
article.archives p.post-item a:hover,
article.archives p.post-item a {
    color: var(--blue, #004fef);
    max-width: calc(100% - 4em);
}

/** ************************************************************************* *
 *  Contact Form Classes
 ** ************************************************************************* */
article.contact p.fineprint {
    font-style: italic;
    padding: 0 0 0 5em;
    margin: 1em auto;
    max-width: calc(100% - 6em);
}
article.contact label {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    min-width: 5em;
}
article.contact input {
    display: inline-block;
    vertical-align: middle;
    padding: 0.5em 1em;
    margin: 0 0 0.25em;
    width: calc((100% / 2) - 10em);
}
article.contact input::placeholder { text-align: center; }
article.contact input::-ms-input-placeholder { text-align: center; }
article.contact textarea {
    display: inline-block;
    resize: none;
    vertical-align: text-top;
    padding: 0.5em 1em;
    height: 10.5em;
    width: calc(100% - 11em);
}
article.contact textarea::placeholder { padding: 2.25em 0 0; text-align: center; }
article.contact textarea::-ms-input-placeholder { padding: 2.25em 0 0; text-align: center; }

/** ************************************************************************* *
 *  Overlay Menu Classes
 ** ************************************************************************* */
section.menu {
    background-color: var(--background-color, #fff);
    border: 2px solid var(--border-color, #ccc);
    /* box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.25); */
    display: block;
    position: fixed;
    padding: 0.5em 1em;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 100px;
    z-index: 9999;
    max-width: 600px;
    width: calc(100vw - 4em);
}

section.menu button { margin: 0 0.5em 0.5em 0; }
section.menu button:last-child { margin: 0; }
section.menu label {
    display: inline-block;
    text-align: right;
    vertical-align: text-top;
    font-weight: bold;
    padding: 0.25em 0.5em 0 0;
    margin: 0;
    min-width: 4em;
}
section.menu ul {
    display: block;
    list-style: none;
    padding: 0 1em;
    margin: 0 auto;
    width: calc(100% - 3em);
}
section.menu ul li {
    display: block;
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
}

section.menu .row {
    display: inline-block;
    vertical-align: text-top;
    padding: 0;
    margin: 0 0 1em;
    width: calc(100% - 5em);
}
section.menu .footer {
    border-top: 1px solid var(--border-color, #ccc);
    text-align: right;
    padding: 1em 0 0;
    margin: 1em auto 0.5em;
}