<html>
    <head>
        <title>Template Missing!</title>
        <style>
            html {
                background: #ffffff;
                font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, san-serif;
            }
            html p {
                color: #468fee;
                text-align: center;
                padding: 33vh 0 0;
                margin: 0 auto;
                max-width: 600px;
                width: calc(100% - 100px);
            }
            html p img { max-width: 100%; }
        </style>
    </head>
    <body>
        <p>The site template is missing. Either this is a brand new installation of Streams, or something is really, really wrong.</p>
    </body>
[RUNTIME]
</html>