<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>New Contact Form Message</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            body { background-color: #fff; color: #000; font-family: -apple-system, 'Helvetica', 'Tahoma', 'Arial', sans-serif; font-size: 16px; margin: 0; padding: 1% 2.5%; width: 95%; }
            p { text-align: justify; }
            @-ms-viewport{ width: device-width; }
        </style>
    </head>
    <body>
        <p>Hello [ACCOUNT_NAME],</p>
        <p>You received a message from [FROM_NAME] via [RECD_URL]</p>
        <blockquote>
            [MESSAGE]
        </blockquote>
        <hr>
        <blockquote>
            <p><strong>Received at:</strong> [RECD_AT]</p>
            <p><strong>Email:</strong> [FROM_MAIL]</p>
        </blockquote>
    </body>
</html>