<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Forgot Your Password?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            body { background-color: #fff; color: #000; font-family: -apple-system, 'Helvetica', 'Tahoma', 'Arial', sans-serif; font-size: 16px; margin: 0; padding: 1% 2.5%; width: 95%; }
            p { text-align: justify; }
            @-ms-viewport{ width: device-width; }
        </style>
    </head>
    <body>
        <p>Hello [ACCOUNT_NAME],</p>
        <p>Have you forgotten your account password? No problem! Here are some links that will sign you directly into your account.</p>
        <p>Sign into Nice.Social: [SOCIAL_URL]/validatetoken?token=[AUTH_TOKEN]</p>
        <p>Sign into your website: [PRIMARY_URL]/write?token=[AUTH_TOKEN]</p>
        <hr>
        <p>If you did not ask for this email, then there is nothing for you to do. Someone else would have entered your email address, but your information is safe. Your password has not been changed.</p>
    </body>
</html>