<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Welcome to 10Centuries!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            body { background-color: #fff; color: #000; font-family: -apple-system, 'Helvetica', 'Tahoma', 'Arial', sans-serif; font-size: 16px; margin: 0; padding: 1% 2.5%; width: 95%; }
            p { text-align: justify; }
            @-ms-viewport{ width: device-width; }
        </style>
    </head>
    <body>
        <h3>Welcome to 10Centuries!</h3>
        <p>You've successfully signed into 10Centuries for the first time, and we'll take it from here. In the near future you will receive another email letting you know that your account has been fully set up and is ready to use.</p>
        <p>Have any questions, concerns, or recommendations? <a href="mailto:none@noaddy.com">Get in touch</a> and we'll try to respond to you as soon as possible.</p>
    </body>
</html>