                    <div class="content-author hidden">
                        <p class="p-author author h-card vcard">
                            <a class="icon-container" href="[AUTHOR_PROFILE]">
                                <img class="u-logo logo u-photo photo" src="[AUTHOR_AVATAR]"/>
                            </a>
                            <a class="p-name fn u-url url" href="[AUTHOR_PROFILE]">[AUTHOR_NAME]</a>
                            <a class="u-url" href="[AUTHOR_PROFILE]"></a>
                        </p>
                    </div>
                    <div class="content-area has-responses">
                        <div class="pad">
                            <h2 class="p-name"><a href="[CANONICAL]">[TITLE]</a></h2>
                            <div class="post-text e-content article">
                                [CONTENT]
                            </div>
                        </div>
                        <div class="metaline tags pad">
                            <ul>
                                [TAGLINE]
                            </ul>
                        </div>[GEOTAG]
                        <div class="metaline pad text-right">
                            <a href="[CANONICAL]" class="u-url">
                                <time class="dt-published" datetime="[PUBLISH_AT]" data-dateunix="[PUBLISH_UNIX]"[THREAD]>[PUBLISH_AT]</time>
                            </a>
                        </div>
                        <div class="metaline pad post-actions hidden" style="padding: 0;" data-guid="[POST_GUID]"></div>
                    </div>
                    <div class="responses hidden">&nbsp;</div>