                    <div class="content-author hidden">
                        <p class="p-author author h-card vcard">
                            <a class="icon-container" href="[AUTHOR_PROFILE]">
                                <img class="u-logo logo u-photo photo" src="[AUTHOR_AVATAR]"/>
                            </a>
                            <a class="p-persona" href="[AUTHOR_PROFILE]">[AUTHOR_PERSONA] – </a>
                            <a class="p-name fn u-url url" href="[AUTHOR_PROFILE]">[AUTHOR_NAME]</a>
                        </p>
                    </div>
                    <div class="content-area">
                        <div class="pad">
                            <div class="type-icon">
                                <i class="fas fa-paper-plane"></i>
                            </div>
                            <div class="p-name e-content">
                                [CONTENT]
                            </div>
                        </div>
                        <div class="metaline tags pad">
                            <ul>
                                [TAGLINE]
                            </ul>
                        </div>[GEOTAG]
                        <div class="metaline pad text-right">
                            <a href="[CANONICAL]" class="u-url">
                                <time class="dt-published" datetime="[PUBLISH_AT]" data-dateunix="[PUBLISH_UNIX]"[THREAD]>[PUBLISH_AT]</time>
                            </a>
                        </div>
                        <div class="metaline pad post-actions hidden" data-guid="[POST_GUID]"></div>
                    </div>
                    <div class="responses hidden">&nbsp;</div>