                    <div class="content-author hidden">
                        <p class="p-author author h-card vcard">
                            <a class="icon-container" href="[AUTHOR_PROFILE]">
                                <img class="u-logo logo u-photo photo" src="[AUTHOR_AVATAR]"/>
                            </a>
                            <a class="p-name fn u-url url" href="[AUTHOR_PROFILE]">[AUTHOR_NAME]</a>
                            <a class="u-url" href="[AUTHOR_PROFILE]"></a>
                        </p>
                    </div>
                    <div class="content-area">
                        <div class="pad bookmark-quoted-text">
                            <div class="post-text">
                                <span class="p-name"><a href="[SOURCE_URL]" target="_blank" class="u-bookmark-of h-cite">[SOURCE_TITLE]</a></span>
                                <span class="bookmark-host">([SOURCE_DOMAIN])</span>
                            </div>
                            <div class="type-icon">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <div class="post-text e-content">
                                [CONTENT]
                                <cite class="u-quotation-of h-cite hidden">
                                    <a href="[SOURCE_URL]">[SOURCE_TITLE]</a>
                                </cite>
                            </div>
                        </div>
                        <div class="metaline tags pad">
                            <ul>
                                [TAGLINE]
                            </ul>
                        </div>[GEOTAG]
                        <div class="metaline pad text-right">
                            <a href="[CANONICAL]" class="u-url">
                                <time class="dt-published" datetime="[PUBLISH_AT]" data-dateunix="[PUBLISH_UNIX]"[THREAD]>[PUBLISH_AT]</time>
                            </a>
                        </div>
                        <div class="metaline pad post-actions hidden" data-guid="[POST_GUID]"></div>
                    </div>
                    <div class="responses hidden">&nbsp;</div>