                <li class="[POST_CLASS]post-entry note">
                    <div class="content-area has-responses">
                        <div class="pad">
                            <div class="type-icon">
                                <i class="fas fa-hand-spock"></i>
                            </div>
                            <div class="p-name e-content">
                                <p>There doesn&apos;t seem to be anything to show just yet. If this is your site, <span class="btn-signin">sign in</span> and make your first post!</p>
                            </div>
                        </div>
                    </div>
                </li>