
    	<div class="opview interact settings hidden" data-view="settings">
        	<h3>[lblSiteSettings]</h3>
        	<input id="site-name" name="sdata" type="text" autocomplete="off" class="settings-obj" placeholder="[lblSiteNamePH]" value="[SITE_NAME]" />
        	<input id="site-descr" name="sdata" type="text" autocomplete="off" class="settings-obj" placeholder="[lblSiteDescrPH]" value="[SITE_DESCR]" />
        	<input id="site-keys" name="sdata" type="text" autocomplete="off" class="settings-obj" placeholder="[lblSiteKeysPH]" value="[SITE_KEYS]" />
        	<span class="settings-obj lbl-33">[lblShowGeo]</span>
        	<button class="btn width-33 btn-sets-geo[SHOW_GEO_N]" data-class="sets-geo" data-value="N">[btnNo]</button>
        	<button class="btn width-33 btn-sets-geo[SHOW_GEO_Y]" data-class="sets-geo" data-value="Y">[btnYes]</button>

            <h4>[lblPostTypeDisplay]</h4>
        	<span class="settings-obj lbl-33 text-right">[lblShowNote]:</span>
        	<button class="btn width-33 btn-sets-note[SHOW_NOTE_N]" data-class="sets-note" data-value="N">[btnNo]</button>
        	<button class="btn width-33 btn-sets-note[SHOW_NOTE_Y]" data-class="sets-note" data-value="Y">[btnYes]</button>
        	<span class="settings-obj lbl-33 text-right">[lblShowArticle]:</span>
        	<button class="btn width-33 btn-sets-article[SHOW_BLOG_N]" data-class="sets-article" data-value="N">[btnNo]</button>
        	<button class="btn width-33 btn-sets-article[SHOW_BLOG_Y]" data-class="sets-article" data-value="Y">[btnYes]</button>
        	<span class="settings-obj lbl-33 text-right">[lblShowBookmark]:</span>
        	<button class="btn width-33 btn-sets-bookmark[SHOW_BKMK_N]" data-class="sets-bookmark" data-value="N">[btnNo]</button>
        	<button class="btn width-33 btn-sets-bookmark[SHOW_BKMK_Y]" data-class="sets-bookmark" data-value="Y">[btnYes]</button>
        	<span class="settings-obj lbl-33 text-right">[lblShowQuotation]:</span>
        	<button class="btn width-33 btn-sets-quotation[SHOW_QUOT_N]" data-class="sets-quotation" data-value="N">[btnNo]</button>
        	<button class="btn width-33 btn-sets-quotation[SHOW_QUOT_Y]" data-class="sets-quotation" data-value="Y">[btnYes]</button>

            <div class="width-66">&nbsp;</div>
            <button class="btn width-33 btn-save-sets green" data-label="[btnSave]">[btnSave]</button>
            <div class="full-width text-center" style="margin-top: 5rem;">
        	    <button class="btn btn-cancel padd">[btnCancel]</button>
            </div>
    	</div>